<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<body>
<center>
    <h1>MOVIE APPLICATION</h1>
    <form action="/insert_movie" method="post">
        Name: <input type="text" name="Name"><br>
        Timing: <input type="text" name="Timing"><br>
        Location: <input type="text" name="Location"><br>
        <input type="submit">
    </form>
    <form action="/view_movie">
        <input type="submit" value="view">
    </form>
</center>
</body>
</html>